---
import type { PostWithMetadata } from '@/helpers/content/schema'
import { Image } from 'astro:assets'
import { formatShowDate } from '@/helpers/content/formatter'

interface Props {
  post: PostWithMetadata
  first: boolean
}

const { post, first } = Astro.props
---

<div class={first ? 'w-full md:w-8/12 xl:w-6/12' : 'w-6/12 md:w-4/12 xl:w-3/12'}>
  <div class="list-item list-nice-overlay">
    <div class={`media ${first ? 'media-36x17' : ''}`}>
      <a href={post.permalink} class="media-content">
        <Image src={post.cover} alt={post.title} width={first ? 600 : 300} height={300} />
        <div class="overlay"></div>
      </a>
    </div>
    <div class="list-content">
      <a href={post.permalink} class="list-body">
        <div class="list-title h6 h-2x">{post.title}</div>
        <div class="list-meta font-number flex flex-1 text-muted text-sm">
          <span class="inline-block">{formatShowDate(post.date)}</span>
          <div class="flex-1"></div>
          <div class="list-like-square inline-block">
            <i class="text-md iconfont icon-eye"></i>
            <span class="like-count">{post.meta.views}</span>
          </div>
          <div class="list-like-square inline-block">
            <i class="text-md iconfont icon-heart-fill"></i>
            <span class="like-count">{post.meta.likes}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
