---
import 'aplayer-ts/src/css/base.css'
import { resolveSong, type MusicPlayerProps } from './resolver'

interface Props extends MusicPlayerProps {}

const { name, artist, url, pic, lyric } = await resolveSong(Astro.props)
---

<div
  class="aplayer"
  data-id={Astro.props.netease}
  data-name={name}
  data-artist={artist}
  data-url={url}
  data-cover={pic}
  data-lyric={lyric}
>
  音乐正在加载中 ...
</div>

<script>
  import APlayer from 'aplayer-ts'

  const QUALITY_LEVELS = ['hires', 'lossless', 'exhigh', 'higher', 'standard']

  async function getSongUrlThrough3rdParty(id: string, level: string): Promise<string> {
    const response = await fetch(`https://api.toubiec.cn/wyapi/getMusicUrl.php?id=${id}&level=${level}`).catch(
      () => null,
    )
    if (!response) {
      return ''
    }
    const result = await response.json()
    if (result.code === 200 && result.data) {
      return result.data[0].url
    }
    return ''
  }

  for (const p of document.querySelectorAll(`.aplayer`)) {
    const e = p as HTMLElement
    let url = e.dataset.url || ''
    if (url === '' && e.dataset.id) {
      for (const level of QUALITY_LEVELS) {
        url = await getSongUrlThrough3rdParty(e.dataset.id, level)
        if (url !== '') {
          break
        }
      }
      if (url === '') {
        url = `https://api.liuly.moe/meting-api/?type=url&id=${e.dataset.id}`
      }
    }

    APlayer().init({
      container: e,
      lrcType: 1,
      audio: [
        {
          name: e.dataset.name,
          artist: e.dataset.artist,
          url,
          cover: e.dataset.cover,
          theme: '#6dd7de',
          lrc: e.dataset.lyric,
        },
      ],
    })
  }
</script>
