---
import 'aplayer/dist/APlayer.min.css';

interface Props {
  id: string;
}

const { id } = Astro.props;

// Disable SSL verification.
process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';
// https://github.com/injahow/meting-api
const data = await fetch(`https://api.injahow.cn/meting/?type=song&id=${id}`, {})
  .then((response) => response.json())
  .catch((e) => {
    console.log(e);
    return [{ name: '', artist: '', url: '', pic: '' }];
  });
---

<div
  class="aplayer"
  data-name={data[0].name}
  data-artist={data[0].artist}
  data-url={data[0].url}
  data-cover={data[0].pic}
>
</div>
