---
import Image from '@/components/image/Image.astro';
import type { Category } from '@/helpers/schema';

interface Props {
  category: Category;
}

const { category } = Astro.props;
---

<div class="col-md-6">
  <div class="list-item block">
    <div class="media media-3x1">
      <a href={category.permalink} class="media-content">
        <Image {...category.cover} alt={category.name} />
      </a>
    </div>
    <div class="list-content">
      <div class="list-body">
        <a href={category.permalink} class="list-title h5">
          {category.name}
        </a>
        <div class="list-subtitle d-none d-md-block text-md text-secondary mt-2">
          <div class="h-1x">{category.description}</div>
        </div>
      </div>
      <div class="list-footer mt-2">
        <div class="text-muted text-sm">
          <span class="d-inline-block">{`${category.counts} 篇文章`}</span>
        </div>
      </div>
    </div>
  </div>
</div>
