---
import config from '@/blog.config'
import EmailLayout from '@/helpers/email/templates/layout/EmailLayout.astro'

interface Props {
  postTitle: string
  postLink: string
  commentNeedApproval: boolean
  commentContent: string
  commentLink: string
}

const { postTitle, postLink, commentNeedApproval, commentContent, commentLink } = Astro.props
---

<EmailLayout receiver={config.author.name}>
  <!-- 正文表格开始 -->
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0;">
    <!-- 提示信息 -->
    <tr>
      <td style="font-size: 14px; color: #333333; line-height: 1.5; padding-bottom: 10px;">
        您的网站《{config.title}》有了新留言
      </td>
    </tr>

    <!-- 留言文章 -->
    <tr>
      <td style="font-size: 14px; color: #333333; line-height: 1.5; padding-bottom: 10px;">
        留言文章：
        <a href={postLink} style="color: #666666; text-decoration: none;">{postTitle}</a>
      </td>
    </tr>

    <!-- 留言内容 -->
    <tr>
      <td style="padding-bottom: 15px;">
        <table
          width="100%"
          cellpadding="0"
          cellspacing="0"
          border="0"
          style="background: rgba(141,141,141,0.05); border-radius: 8px; padding: 10px 15px;"
        >
          <tr>
            <td style="font-size: 14px; color: #333333; line-height: 1.7;">
              <Fragment set:html={commentContent} />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- 审核提示 -->
    <tr>
      <td style="font-size: 14px; color: #333333; line-height: 1.5; padding-bottom: 10px;">
        {commentNeedApproval && '该留言需要审核，'}您可以打开下方链接查看留言：
      </td>
    </tr>

    <!-- 留言链接 -->
    <tr>
      <td style="padding-top: 10px;">
        <a href={commentLink} target="_blank" style="font-size: 14px; color: #008c95; text-decoration: none;">
          {commentLink}
        </a>
      </td>
    </tr>
  </table>
  <!-- 正文表格结束 -->
</EmailLayout>
