---
import type { Post } from '@/helpers/content/schema'
import querystring from 'node:querystring'
import { joinPaths } from '@astrojs/internal-helpers/path'
import config from '@/blog.config'
import QRDialog from '@/components/partial/QRDialog.astro'

interface Props {
  post: Post
}

const { post } = Astro.props
const postURL = joinPaths(config.website, post.permalink)
const qq = querystring.stringify({
  url: postURL,
  pics: post.cover,
  summary: post.summary,
})
const weibo = querystring.stringify({
  url: postURL,
  type: 'button',
  language: 'zh_cn',
  pic: post.cover,
  searchPic: true,
  title: `【${post.title}】${post.summary}`,
})
---

<div class="post-share text-center mt-4">
  <a
    href={`https://connect.qq.com/widget/shareqq/index.html?${qq}`}
    class="btn btn-light btn-icon btn-md btn-circle mx-1 qq"
    title="分享到 QQ 空间"
  >
    <span>
      <i class="iconfont icon-QQ"></i>
    </span>
  </a>
  <QRDialog
    url={postURL}
    name="在微信中请长按二维码"
    title="微信扫一扫 分享朋友圈"
    icon="icon-wechat"
    className="btn btn-light btn-icon btn-circle btn-md single-popup mx-1"
  />
  <a
    href={`https://service.weibo.com/share/share.php?${weibo}`}
    class="btn btn-light btn-icon btn-circle btn-md mx-1 weibo"
    title="分享到微博"
  >
    <span>
      <i class="iconfont icon-weibo"></i>
    </span>
  </a>
</div>
