---
import { joinPaths } from '@astrojs/internal-helpers/path'
import config from '@/blog.config'
import Comment from '@/components/comment/Comment.astro'
import { userSession } from '@/helpers/auth/session'
import { increaseViews, loadComments } from '@/helpers/comment/loader'

// This is a component which loads comments and renders it on server-side.
interface Props {
  commentKey: string
  title: string
}

const { commentKey, title } = Astro.props
const comments = await loadComments(Astro.session, commentKey, title, 0)

// Increase the PV in production environment.
const user = await userSession(Astro.session)
if (user === undefined || !user.admin) {
  await increaseViews(commentKey, title)
}
---

<div id="comments" class="comments pt-5">
  {
    comments != null ? (
      <>
        <div class="h5 mb-4 comment-total-count">
          评论 <small class="font-theme text-sm">({comments.count})</small>
        </div>
        <div id="respond" class="comment-respond mb-3 md:mb-4">
          <form method="post" action="/comments/new" id="commentForm" class="comment-form">
            <div class="comment-from-avatar flex-avatar">
              {user?.admin ? (
                <img
                  alt="头像"
                  src={joinPaths(import.meta.env.SITE, `/images/avatar/${user.id}.png`)}
                  src={joinPaths(import.meta.env.SITE, `/images/avatar/${user.id}.png`)}
                  class="avatar avatar-40 photo avatar-default"
                  height="40"
                  width="40"
                  decoding="async"
                />
              ) : (
                <img
                  alt="头像"
                  src={joinPaths(import.meta.env.SITE, '/images/default-avatar.png')}
                  data-src={joinPaths(import.meta.env.SITE, '/images/default-avatar.png')}
                  class="avatar avatar-40 photo avatar-default"
                  height="40"
                  width="40"
                  decoding="async"
                />
              )}
            </div>
            <div class="comment-from-input flex-1">
              <div class="comment-form-text mb-3">
                <textarea id="content" name="content" class="form-control" rows="3" required />
              </div>
              <div class="comment-form-info flex flex-wrap gap-2 md:gap-3 mb-3">
                {user?.admin ? (
                  <input
                    class="form-control"
                    placeholder={user.name}
                    name="name"
                    type="text"
                    readonly
                    hidden
                    value={user.name}
                  />
                ) : (
                  <div class="flex-1">
                    <input class="form-control" placeholder="昵称" name="name" type="text" required />
                  </div>
                )}
                {user?.admin ? (
                  <input
                    class="form-control"
                    name="email"
                    placeholder={user.email}
                    value={user.email}
                    type="email"
                    readonly
                    hidden
                  />
                ) : (
                  <div class="w-full md:w-6/12">
                    <input class="form-control" name="email" placeholder="邮箱" type="email" required />
                  </div>
                )}
                <input hidden name="page_key" type="text" value={commentKey} />
                <input hidden name="rid" type="text" value="0" />
                {user?.admin ? (
                  <input
                    class="form-control"
                    placeholder={user.website}
                    value={user.website}
                    name="link"
                    type="url"
                    readonly
                    hidden
                  />
                ) : (
                  <div class="w-full">
                    <input class="form-control" placeholder="网址" name="link" type="url" />
                  </div>
                )}
              </div>
              <div class="form-submit text-right">
                <input type="button" id="cancel-comment-reply-link" class="btn btn-light mr-1" value="再想想" hidden />
                <input name="submit" type="submit" id="submit" class="btn btn-primary" value="发表评论" />
              </div>
            </div>
          </form>
        </div>
        <ul class="comment-list">
          <Comment comments={comments} session={Astro.session} />
        </ul>
        {config.settings.comments.size < comments.roots_count && (
          <div class="text-center mt-3 md:mt-4">
            <button
              id="comments-next-button"
              data-key={commentKey}
              data-size={config.settings.comments.size}
              data-offset={config.settings.comments.size}
              type="button"
              class="btn btn-light"
            >
              加载更多
            </button>
          </div>
        )}
      </>
    ) : (
      '评论加载失败 ❌'
    )
  }
</div>
