---
import { getCollection, getEntry } from 'astro:content';

import Layout from '../layouts/BaseLayout.astro';

const categories = await getCollection('categories');
const friends = await getCollection('friends');
const options = await getCollection('options');
const pages = await getCollection('pages');
const posts = await getCollection('posts');
const tags = await getCollection('tags');
---

<Layout title="且听书吟" description="且听书吟">
  <h2>Categories</h2>
  {
    categories.map((cat) => (
      <>
        <code>{JSON.stringify(cat.data)}</code>
        <br />
      </>
    ))
  }
  <h2>Friends</h2>
  {
    friends[0].data.map((cat) => (
      <>
        <code>{JSON.stringify(cat)}</code>
        <br />
      </>
    ))
  }
  <h2>Options</h2>
  {
    options.map((cat) => (
      <>
        <code>{JSON.stringify(cat.data)}</code>
        <br />
      </>
    ))
  }
  <h2>Pages</h2>
  {
    pages.map((cat) => (
      <>
        <code>{JSON.stringify(cat.data)}</code>
        <br />
      </>
    ))
  }
  <h2>Posts</h2>
  {
    posts.map((cat) => (
      <>
        <code>{JSON.stringify(cat.data)}</code>
        <br />
      </>
    ))
  }
  <h2>Tags</h2>
  {
    tags[0].data.map((cat) => (
      <>
        <code>{JSON.stringify(cat)}</code>
        <br />
      </>
    ))
  }
</Layout>
