---
import type { Category, Post } from '@/helpers/content/schema'
import config from '@/blog.config'
import Pagination from '@/components/page/pagination/Pagination.astro'
import PostSquare from '@/components/page/post/PostSquare.astro'
import { slicePosts } from '@/helpers/content/formatter'
import { getPostsWithMetadata } from '@/helpers/content/schema'
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
  category: Category
  posts: Post[]
  pageNum: number
}

const { category, posts, pageNum } = Astro.props
const { currentPosts, totalPage } = slicePosts(posts, pageNum, config.settings.pagination.category)
const resolvedPosts = await getPostsWithMetadata(currentPosts, { likes: true, views: true, comments: false })
---

<BaseLayout title={category.name}>
  <div class="lg:px-2 2xl:px-5 py-3 md:py-4 2xl:py-5">
    <div class="container mx-auto px-4">
      <div class="mb-3 lg:mb-4">
        <h1>{category.name}</h1>
        <div class="text-muted mt-1">
          <Fragment set:html={category.description} />
        </div>
      </div>
      <div class="flex flex-wrap gap-2 md:gap-3 2xl:gap-4 list-grouped">
        {resolvedPosts.map((post, index) => <PostSquare post={post} first={index === 0} />)}
      </div>
      <div class="mt-4 lg:mt-5">
        <Pagination current={pageNum} total={totalPage} rootPath={category.permalink} />
      </div>
    </div>
  </div>
</BaseLayout>
