---
import PinnedCategories from '@/components/page/category/PinnedCategories.astro';
import FeaturePosts from '@/components/page/post/FeaturePosts.astro';
import PostPagination from '@/components/page/post/PostPagination.astro';
import Sidebar from '@/components/sidebar/Sidebar.astro';
import type { Post, Tag } from '@/content/schema';

import BaseLayout from '../BaseLayout.astro';

interface Props {
  posts: Post[];
  pageNum: number;
  tags: Tag[];
}

const { posts, pageNum, tags } = Astro.props;

// Redirest to the homepage.
if (pageNum < 1) {
  return Astro.redirect('/');
}
---

<!-- This is the layout for listing all the blogs by using pagination. -->
<BaseLayout title={pageNum > 1 ? `第 ${pageNum} 页` : undefined}>
  <div class="px-lg-2 px-xxl-5 py-3 py-md-4 py-xxl-5">
    <FeaturePosts {posts} />
    <div class="container">
      <div class="row">
        <PostPagination {pageNum} {posts} />
        <Sidebar {posts} {tags} />
      </div>
      <PinnedCategories />
    </div>
  </div>
  <slot />
</BaseLayout>
