---
import type { Post, Tag } from '@/helpers/content/schema'
import FeaturePosts from '@/components/page/post/FeaturePosts.astro'
import PostCards from '@/components/page/post/PostCards.astro'
import Sidebar from '@/components/sidebar/Sidebar.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
  posts: Post[]
  pageNum: number
  tags: Tag[]
}

const { posts, pageNum, tags } = Astro.props

// Redirect to the homepage.
if (pageNum < 1) {
  return Astro.redirect('/')
}
---

<BaseLayout title={pageNum > 1 ? `第 ${pageNum} 页` : undefined}>
  <div class="px-lg-2 px-xxl-5 py-3 py-md-4 py-xxl-5">
    {pageNum === 1 && <FeaturePosts {posts} />}
    <div class="container">
      <div class="row">
        <PostCards {pageNum} {posts} />
        <Sidebar {posts} {tags} />
      </div>
    </div>
  </div>
  <slot />
</BaseLayout>
