---
import type { Post } from '@/helpers/content/schema'
import Pagination from '@/components/page/pagination/Pagination.astro'
import PostSquare from '@/components/page/post/PostSquare.astro'
import { slicePosts } from '@/helpers/content/formatter'
import BaseLayout from '@/layouts/BaseLayout.astro'
import options from '@/options'

interface Props {
  title: string
  query: string
  posts: Post[]
  pageNum: number
}

const { title, posts, query, pageNum } = Astro.props

// Redirect to the homepage.
if (pageNum < 1) {
  return Astro.redirect('/')
}

const { currentPosts, totalPage } = slicePosts(posts, pageNum, options.settings.pagination.search)
---

<BaseLayout {title}>
  <div class="px-lg-2 px-xxl-5 py-3 py-md-4 py-xxl-5">
    <div class="container">
      <div class="mb-3 mb-lg-4">
        <h1>{title}</h1>
      </div>
      {
        currentPosts.length === 0
? (
          <div class="data-null">
            <div class="my-auto">
              <h1 class="font-number">404</h1>
              <div>抱歉，没有你要找的内容...</div>
            </div>
          </div>
        )
: (
          <>
            <div class="row g-2 g-md-3 g-xxl-4 list-grouped">
              {currentPosts.map((post, index) => (
                <PostSquare post={post} first={index === 0} />
              ))}
            </div>
            {totalPage > 1 && (
              <div class="mt-4 mt-lg-5">
                <Pagination current={pageNum} total={totalPage} rootPath={`/search/${query}`} />
              </div>
            )}
          </>
        )
      }
    </div>
  </div>
</BaseLayout>
