---
import type { Post, Tag } from '@/helpers/content/schema'
import config from '@/blog.config'
import Pagination from '@/components/page/pagination/Pagination.astro'
import PostSquare from '@/components/page/post/PostSquare.astro'
import { slicePosts } from '@/helpers/content/formatter'
import { getPostsWithMetadata } from '@/helpers/content/schema'
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
  tag: Tag
  posts: Post[]
  pageNum: number
}

const { tag, posts, pageNum } = Astro.props
const { currentPosts, totalPage } = slicePosts(posts, pageNum, config.settings.pagination.tags)
if (totalPage === 0) {
  return Astro.redirect('/404')
}
const resolvedPosts = await getPostsWithMetadata(currentPosts, { likes: true, views: true, comments: false })
---

<BaseLayout title={`标签 "${tag.name}"`}>
  <div class="lg:px-2 2xl:px-5 py-3 md:py-4 2xl:py-5">
    <div class="container mx-auto px-4">
      <div class="mb-3 lg:mb-4">
        <h1>{tag.name}</h1>
      </div>
      <div class="flex flex-wrap gap-2 md:gap-3 2xl:gap-4 list-grouped">
        {resolvedPosts.map((post, index) => <PostSquare post={post} first={index === 0} />)}
      </div>
      <div class="mt-4 lg:mt-5">
        <Pagination current={pageNum} total={totalPage} rootPath={tag.permalink} />
      </div>
    </div>
  </div>
</BaseLayout>
