---
import type { BlogConfig } from '@/blog.config'
import config from '@/blog.config'
import { SeoMeta } from '@/components/meta/SeoMeta'
import { BaseLayout as BaseLayoutBody } from '@/layouts/BaseLayout'
import '@/assets/styles/globals.css'

interface Props {
  title?: string
  description?: string
  navigation?: BlogConfig['navigation']
  footer?: boolean
}

const { title, description, navigation, footer } = Astro.props
const pageTitle = title === undefined ? `${config.title} - ${config.description}` : `${title} - ${config.title}`
const pageDescription = description || config.description
---

<!doctype html>
<html lang={config.settings.locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    <meta name="description" content={pageDescription} />
    <meta name="generator" content="WordPress 3.2.1" />
    <meta name="author" content={config.author.name} />
    <link rel="author" href={config.author.url} />
    <meta name="keywords" content={config.keywords.join(',')} />
    {Astro.slots.has('og') ? <slot name="og" /> : <SeoMeta title={pageTitle} description={pageDescription} />}
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1" />
    <link rel="alternate" type="application/rss+xml" title={config.title} href={`${config.website}/feed/`} />
    <link rel="alternate" type="application/atom+xml" title={config.title} href={`${config.website}/feed/atom/`} />
    <link rel="sitemap" href={`${config.website}/sitemap.xml`} />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body class="home blog">
    <BaseLayoutBody navigation={navigation} footer={footer} session={Astro.session} currentPath={Astro.url.pathname}>
      <slot />
    </BaseLayoutBody>
  </body>
</html>

<script>
  import '@/assets/scripts/global'
</script>
