---
import Album from '@/components/album/Album.astro';
import Comments from '@/components/comment/Comments.astro';
import Footer from '@/components/footer/Footer.astro';
import Image from '@/components/image/Image.astro';
import LikeButton from '@/components/like/LikeButton.astro';
import PageMeta from '@/components/meta/PageMeta.astro';
import Friends from '@/components/page/friend/Friends.astro';
import TableOfContents from '@/components/page/toc/TableOfContents.astro';
import type { Page } from '@/helpers/schema';
import { urlJoin } from '@/helpers/tools';
import BaseLayout from '@/layouts/BaseLayout.astro';
import options from '@/options';
import MusicPlayer from 'astro-netease-player/MusicPlayer.astro';

interface Props {
  page: Page;
}

const { page } = Astro.props;
const { Content, headings } = await page.render();
---

<BaseLayout title={page.title} description={page.summary} footer={false}>
  <PageMeta slot="og" title={page.title} description={page.summary} ogImageUrl={`/images/og/${page.slug}.png`} />

  <div class="row gx-0">
    <div class="col-lg-8 col-xl-8">
      <div class="post p-3 p-md-5">
        <h1 class="post-title mb-3 mb-xl-4">{page.title}</h1>
        <TableOfContents {headings} toc={page.toc} />
        <div class="post-content">
          <div class="nc-light-gallery">
            {page.comments && <Content components={{ MusicPlayer: MusicPlayer, Image: Image, Album: Album }} />}
          </div>
        </div>
        {page.friend && <Friends />}
        <LikeButton permalink={page.permalink} />
        {page.comments && <Comments commentKey={urlJoin(options.website, page.permalink, '/')} title={page.title} />}
      </div>
      <Footer />
    </div>
    <div class="col-lg-4 col-xl-4 d-none d-lg-block sticky-top hv">
      <div class="bg-img hv" style={{ backgroundImage: `url('${page.cover.src}')` }}></div>
    </div>
  </div>
</BaseLayout>
