---
import ArtalkComment from '@/components/comment/Artalk.astro';
import Image from '@/components/image/Image.astro';
import LikeButton from '@/components/like/LikeButton.astro';
import Share from '@/components/like/Share.astro';
import PostMeta from '@/components/meta/PostMeta.astro';
import NeteasePlayer from '@/components/netease/NeteasePlayer.astro';
import Sidebar from '@/components/sidebar/Sidebar.astro';
import { formatShowDate } from '@/helpers/formatter';
import { options, posts, tags, type Post } from '@/helpers/schema';
import BaseLayout from '@/layouts/BaseLayout.astro';

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.title}>
  <PostMeta
    slot="og"
    title={post.title}
    description={post.summary}
    publishDate={post.date.toISOString()}
    requestPath={post.permalink}
    ogImageUrl={`${import.meta.env.SITE}/og/${post.slug}.png`}
    ogImageAltText={post.title}
  />
  <div class="px-lg-2 px-xxl-5 py-3 py-md-4 py-xxl-5">
    <div class="container">
      <div class="row">
        <div class="content-wrapper col-12 col-xl-9">
          <div class="post card card-md">
            <div class="card-body">
              <h1 class="post-title">{post.title}</h1>
              <div class="post-meta text-sm text-muted mt-3 mb-4">
                <time>{formatShowDate(post.date)}</time>
              </div>
              <div class="post-content">
                <div class="nc-light-gallery">
                  <Content components={{ NeteasePlayer: NeteasePlayer, Image: Image }} />
                </div>
                <nav class="post-in-navigation navigation pagination font-number" role="navigation">
                  <div class="nav-links"></div>
                </nav>
              </div>
              <LikeButton {post} />
              <Share {post} />
              {
                post.comments && (
                  <ArtalkComment commentKey={options.website + post.permalink + '/'} title={post.title} />
                )
              }
            </div>
          </div>
        </div>
        <Sidebar {posts} {tags} />
      </div>
    </div>
  </div>
</BaseLayout>
